.container-main {
	height: 90vh;
	display: flex;
	flex-direction: row;
}
.container-main-map {
	flex: 0.7;
	display: flex;
	flex-direction: column;
	height: 90vh;
}

.container-main-menu {
	display: flex;
	margin: 20px;
	margin-bottom: 0px;
}

.container-main-map-box {
	border: 1px solid rgba(0, 0, 0, 0.125);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
		0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
		0 16px 16px rgba(0, 0, 0, 0.12);
	margin: 20px;
	margin-right: 0;
	flex-grow: 1;
	padding: 5px;
}

.container-main-map-list {
	/* border: 5px #ccc solid; */
	flex: 0.3;
	margin: 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
		0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
		0 16px 16px rgba(0, 0, 0, 0.12);
}

.container-main-menu-legend {
	display: flex;
	justify-content: space-between;
	/* width: 22rem; */
	flex: 0.5;
	padding: 5px;
	padding-left: 10px;
	padding-right: 20px;
	margin-left: 10px;
	margin-right: auto;
	border: 1px solid rgba(0, 0, 0, 0.125);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
	background-color: white;
	border-radius: 5px;
}
