.list-item {
	display: flex;
	padding: 5px;
	margin: 3px;
}
.list-item > img {
	height: 35px;
	width: 35px;
	object-fit: contain;
}

.list-item-info {
	flex-grow: 1;
	flex-wrap: wrap;
	font-size: 90%;
	display: flex;
	/* justify-content: space-between; */
}

.list-item-info-address {
	flex: 0.4;
	min-width: 300px;
}

.list-item-info-priority {
	flex: 0.4;
	min-width: 200px;
}

.list-item-info-creator {
	flex: 0.2;
	min-width: 300px;
	/* text-align: end; */
}
